<h1>Abuela Sorda</h1>
<form action="/answer" method="get">
  <label for="grand">Di algo abuela: </label><br>
  <input type="text" name="grand" id="grand">
  <input type="submit" value="Dilo!"> 
</form>
